h1 {
    text-align: center;
    font-weight: normal;
    text-decoration: wavy underline rgba(255, 174, 0, 0.719);
    letter-spacing: 5px;
    font-family: Script, Impact, Haettenschweiler, Arial, Helvetica, sans-serif;

}

a {
    text-decoration: none;
}

p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 2;
    font-size: 15px;
}